/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

.celeste, .celeste a {
    display: inline-block;
    color:  #3865E5;
    text-decoration: none;    
    font-size: 20px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.celeste a:hover {
    transform: scale(1.1);
}

.celeste h3:hover {
    transform: scale(1.1);
}

.logo-link img {
    max-height: 50px; 
    height: auto;
    width: auto;
}

.navbar-toggler {
    border: none;
}

@media (min-width: 769px) {
    .logo-link img {
        max-height: 80px;
    }
}

/* Estilos de Alison */

.text-blue {
    color: #3865E5; 
}
/* Formulario de editar perfil */
.edit-profile-container {
    max-width: 400px; 
    margin: 0 auto; 
    padding: 20px; 
    border: 1px solid #007bff; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    background-color: #ffffff; 
}
/* Espaciado en los elementos del formulario */
.edit-profile-container .form-control {
    margin-bottom: 15px;
}